body {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
      "first first second"
      "third third second";
    grid-gap: 10px;
  }
#first {
  grid-area: first;
}
#second {
  grid-area: second;
}

#third {
  grid-area: third;
}